.top p{
    font-family: 'Stardos Stencil', cursive;
    font-size: 45px;
}
.card{
    height: 100%;
}
.box img{
    height:100% !important;

}
.birth img{
    width:100%;
    height:250px;

}